.wpcf7 {
    form {
        &.sent {
            .wpcf7-response-output {
                border-color: #98cc9d;
                background-color: #c9eccc;
                text-align: center;
                padding: 10px;
                border-radius: 5px;
                margin: 0;
            }
        }
        &.invalid {
            .wpcf7-response-output {
                border-color: #ffb900;
                background-color: #f6db95;
                text-align: center;
                padding: 10px;
                border-radius: 5px;
                margin: 0;
            }
        }
    }
}