.product-card {
    a {
        text-decoration: none;
    }
    .product-body {
        .badge-cats {
            padding: 0;
            margin: 0;
            display: flex;
        }
    }
}
#categories {
    a {
        text-decoration: none;
    }
}