header {
    #mainNav {
        .current-menu-item {
            .nav-link {
                color: var(--rust) !important;
            }
        }
    }
}
#cartTrigger {
    .auto-cart-count {
        position: absolute;
        top: -10px;
        left: 24px;
        background-color: var(--gold);
        padding: 0px 7px;
        border-radius: 50px;
        border: 2px solid #fff;
        color: #fff !important;
        width: 26px;
        height: 26px;
        text-align: center;
        font-size: 14px;
    }
}