/*
$font-scale: 0.9;
$font-xs: 16px * $font-scale;
$font-s: 18px * $font-scale;
$font-m: 20px * $font-scale;
$font-l: 24px * $font-scale;
$font-xl: 32px * $font-scale;
$font-3xl: 52px * $font-scale;
$font-4xl: 72px * $font-scale;
$font-5xl: 80px * $font-scale;
*/
@media (min-width: 1366px) {
  :root {
    --font-3xl: 47.32px;
    --font-4xl: 65.52px;
    --font-5xl: 72.8px;
  }
  :root {
    --font-xs: 14.56px;
    --font-s: 16.38px;
    --font-m: 18.2px;
    --font-l: 21.84px;
    --font-xl: 29.12px;
    --font-2xl: 36.4px;
  }
}

@media (max-width: 1367px) and (min-width: 992px) {
  :root {
    --font-3xl: 39px;
    --font-4xl: 54px;
    --font-5xl: 60px;
  }
  :root {
    --font-xs: 12.8px;
    --font-s: 14.4px;
    --font-m: 16px;
    --font-l: 19.2px;
    --font-xl: 25.6px;
    --font-2xl: 32px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  :root {
    --font-3xl: 37.96px;
    --font-4xl: 52.56px;
    --font-5xl: 58.4px;
  }
  :root {
    --font-xs: 14.4px;
    --font-s: 16.2px;
    --font-m: 18px;
    --font-l: 21.6px;
    --font-xl: 28.8px;
    --font-2xl: 36px;
  }
}

@media (max-width: 767px) {
  :root {
    --font-3xl: 37.96px;
    --font-4xl: 52.56px;
    --font-5xl: 58.4px;
  }
  :root {
    --font-xs: 14.4px;
    --font-s: 16.2px;
    --font-m: 18px;
    --font-l: 21.6px;
    --font-xl: 28.8px;
    --font-2xl: 36px;
  }
}

header #mainNav .current-menu-item .nav-link {
  color: var(--rust) !important;
}

:root {
  --e-global-color-primary: #FFFFFF;
  --e-global-color-secondary: #29282B;
  --e-global-color-text: #575757;
  --e-global-color-accent: #246BCB;
  --theme-bg-color: #018BED;
  --theme-alt-bg-color: #F7F6FF;
}

.loader-logo {
  height: 70px !important;
}

a {
  text-decoration: none;
  color: unset;
}

.product-card .product-body .product-name {
  min-height: 45px;
}

.product-card .product-body .badge-cats {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-card .yith-add-to-wishlist-button-block .yith-wcwl-add-to-wishlist-button .yith-wcwl-icon-svg {
  width: 16px;
}

.product-card .yith-add-to-wishlist-button-block .yith-wcwl-add-to-wishlist-button .yith-wcwl-add-to-wishlist-button__label {
  display: none;
}

.intro-body p {
  color: #666;
  line-height: 1.6;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.intro-body h3 {
  font-family: 'Aladin', system-ui;
  font-size: 2.22rem;
  color: #8B0000;
  font-weight: 400;
  margin: 2.5rem 0 1rem;
}

.woocommerce .added_to_cart.wc-forward {
  display: none;
}

.btn.btn-rust.disabled {
  background: var(--rust);
  color: #fff;
}

.wishlist-title {
  display: none;
}

.wishlist table tbody tr .price del {
  font-size: .95rem;
  color: #a32222;
  font-weight: 500;
}

.wishlist table tbody tr .price ins {
  text-decoration: none;
}

@media (max-width: 820px) {
  .wishlist table tbody tr .btn.add_to_cart_button {
    font-size: 0.625em;
    min-width: 100px;
    padding: 8px 14px !important;
  }
}

.wishlist table tbody tr:last-child td {
  border-bottom: 0;
}

#ajax-pagination .paginatoin-area .page-link-custom.disabled {
  pointer-events: none;
  opacity: 0.3;
}

@media (max-width: 519px) {
  .toolbar .view-toggle {
    display: none;
  }
}

#product-detail .btn-wishlist .yith-wcwl-add-to-wishlist-button .yith-wcwl-icon {
  color: var(--muted);
  width: 23px;
}

#product-detail .btn-wishlist .yith-wcwl-add-to-wishlist-button .yith-wcwl-icon:hover {
  color: var(--rust);
}

#product-detail .btn-wishlist .yith-wcwl-add-to-wishlist-button.yith-wcwl-add-to-wishlist-button--added .yith-wcwl-icon {
  color: var(--rust);
}

#product-detail .btn-wishlist .yith-wcwl-add-to-wishlist-button .yith-wcwl-add-to-wishlist-button__label {
  display: none;
}

#product-detail #tab-desc ul,
#product-detail #tab-desc ol {
  color: var(--muted);
  font-size: 1rem;
  line-height: 2;
}

#product-detail #tab-reviews .reviews .review:not(:last-child) {
  border-bottom: 1px solid #3a1b0a0a;
}

#product-detail #tab-reviews .rating-stars .stars {
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 0;
}

#product-detail #tab-reviews .rating-stars .stars span {
  color: #ccc;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

#product-detail #tab-reviews .rating-stars .stars span.active {
  color: var(--gold);
}

footer .menu-sitemap-container .current-menu-item a {
  color: var(--gold);
}

/* latin-ext */
@font-face {
  font-family: 'Aladin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/aladin/v26/ZgNSjPJFPrvJV5fF4C35hmfmN7CO.woff2) format("woff2");
}

/* latin */
@font-face {
  font-family: 'Aladin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/aladin/v26/ZgNSjPJFPrvJV5fF7i35hmfmNw.woff2) format("woff2");
}

/* latin-ext */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJuktqUYLkn8BJ.woff2) format("woff2");
}

/* latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJtEtqUYLknw.woff2) format("woff2");
}

/* latin-ext */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJuktqUYLkn8BJ.woff2) format("woff2");
}

/* latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJtEtqUYLknw.woff2) format("woff2");
}

/* latin-ext */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJuktqUYLkn8BJ.woff2) format("woff2");
}

/* latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJtEtqUYLknw.woff2) format("woff2");
}

/* latin-ext */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJuktqUYLkn8BJ.woff2) format("woff2");
}

/* latin */
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYvz_MVcBeNP4NJtEtqUYLknw.woff2) format("woff2");
}

:root {
  --site-max: calc(300px + 1440px);
}

.full-width {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
}
